.px-1, .p-1 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.py-1, .p-1 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    }
.menu-container {
    position: relative;
    padding-top: 25px;
    height: 100vh;
}
.menu-list li a {
    color : white; 
}
.menu-list {
    padding-top: 50px;
}
.welcome{
    height: 100vh;
    background-color:#E8E8E8;
}
.bg-custom {
    background-color: #0E242E;
}

.button {
    background-color: #3480A3;
    color: white;
    position: relative;
}
.fullwidth {
    width:100%;
}
.role-form {
    position: relative;
}
.card {
    background-color: rgb(247, 247, 247);
    height: 300px !important;
    width: 400px !important;
}
.text-area {
    width: 70%;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    height: 30px !important;
}
.columns-layout {
    top:200px;
}
.fullheight {
    height: 100vh;
}
.wrapper {
    height: fit-content;
    margin: auto;
}
.content-layout {
    margin-top: 30px;
    margin-left:20px;
    width: 100%;
}
.login-btn{
    margin-left: 190px !important;
}